body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: black;
}

.background-image {
    width: 400px;
    height: 100%;
    background-image: url('../image/background_left.png');
    background-size: cover;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #DFDFDF;
}

.form {
    width: 300px;
    padding: 10px;
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #C5C5C5;
}

.submit-button {
    width: 500;
    padding: 10px 20px 10px 20px;
    background-color: #540F4D;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}