body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    display: flex;
    
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100vh;
    background-image: url('../img/sidebarbackground.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar .logo {
    margin: 20px;
    display: flex;
    align-items: center;
}

.sidebar .profile-preview {
    align-items: center;
    text-align: center;
    color: white;
    margin: 20px auto;
}

.sidebar .profile-preview img {
    width: 130px;
    border-radius: 50%;
    border: 1px solid #000000;
}

.sidebar .list-link {
    width:70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sidebar .list-link ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.sidebar .list-link ul li {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sidebar .list-link ul li.active {
    background: #B5B0B0;
    border-radius: 20px;
}

.sidebar .list-link ul li a {
    text-decoration: none;
    width: 70%;
    color: #000000;
}

.sidebar .list-link ul li a:hover{
    color: #616161;
}

.sidebar .list-link ul li i {
    margin: 0 10px 0 10px;
}

.sidebar .logout {
    margin-top: 70px;
    margin-bottom: 9px;
}

.sidebar .logout a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.sidebar .logout a:hover{
    color: #616161;
}


/* main */
.container-main {
    margin: 30px 50px;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 50px;
}

.container-main .section1 {
    background-color: #0C697A;
    border-radius: 20px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;

}

.container-main .section1 .greeting {
    color: white;
}

.container-main .section1 .greeting p {
    margin: 5px 0;
    font-size: 20px;
}

.container-main .section1 .greeting h3 {
    margin: 5px 0;
    font-size: 28px;
}

.container-main .section1 .logo img {
    height: 48px;
}

.container-main .section2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 50px;
    height: 300px;

}

.container-main .section2 .keuangan {
    background-color: #15293C;
    width: 600px;
    color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

}

.container-main .section2 .keuangan .keuangan-detail {
    margin: 0px 20px;
}

.container-main .section2 .keuangan .keuangan-detail p {
    font-size: 16px;
}

.container-main .section2 .keuangan .keuangan-detail h2 {
    font-size: 20px;
    font-weight: bold;
}

.container-main .section2 .user-info {
    background-color: #BA5151;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-evenly;
}

.container-main .section2 .user-info .user-info-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 70px;
}

.container-main .section2 .user-info .user-info-detail .icon {
    font-size: 70px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main .section2 .user-info .user-info-detail .icon i {
    margin-top: 10px;
}

.container-main .section2 .user-info .user-info-detail .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.container-main .section2 .user-info .user-info-detail .information p {
    margin-bottom: 0;
}

.container-main .section2 .user-info .user-info-detail .information h2 {
    margin-top: 5px;
}
